* {
    margin: 0;
}

.navbar {
    background: rgba(0, 0, 0, 0.6);
    background-color: #0f8b8d;
    display: flex;
    justify-content: space-between;
    padding: 20px 60px 20px 60px;
}
.navbar img {
    width: 300px;
    height: auto;
}
.navbar li {
   
    display: flex;
    flex-direction: row;
    padding-right: 20px;
}
.navbar a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}
